name: Release_Build
on: 
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Auto Update Version
        run: |
          VERSION_PREFIX="1.0"
          VERSION_CODE=${{ github.run_number }}
          VERSION_NAME="${VERSION_PREFIX}.${{ github.run_number }}"
          
          sed -i "s/versionCode [0-9]*/versionCode $VERSION_CODE/" app/build.gradle
          sed -i "s/versionName \".*\"/versionName \"$VERSION_NAME\"/" app/build.gradle

      - name: Build APK
        run: |
          chmod +x gradlew
          ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: UnFloat_v${{ github.run_number }}
          path: app/build/outputs/apk/release/*.apk
